@import '../../styles/imports/variables';
@import '../../styles/typography';

#addressItem {
  background: $color-white;
  border-bottom: $border-gray1;

  .row {
    border-bottom: $border-gray1;
    color: $color-blue5;
    display: flex;
    font-size: 14px;
    margin: 0;
    min-height: 70px;
    padding: 0 30px;
    width: 100%;
  }

  .title {
    color: $color-dark1;
    margin: auto;
    opacity: .26;
    width: 28%;
  }

  .content {
    margin: auto;
    width: 72%;
  }

  .row1 {
    span {
      opacity: .4;
    }
  }

  .row2 {
    span {
      opacity: .4;
    }
  }

  .row3 {
    color: $color-dark2;
  }

  .row4 {
    color: $color-dark2;

    .content {
      svg {
        margin-right: 12px;
      }
    }
  }

  .row5 {
    color: $color-dark2;

    .content {
      svg {
        margin-right: 12px;
      }
    }
  }
}
