@import '../../styles/imports/index';

.switch-container {
  line-height: 0;

  label {
    margin-bottom: 0;
  }

  input[type="checkbox"].switch {
    position: absolute;
    opacity: 0;
  }

  input[type="checkbox"].switch + div {
    vertical-align: middle;
    width: 37px;
    height: 20px;
    border-radius: 999px;
    background-color: $color-blue3;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
    -webkit-transition-property: background-color, box-shadow;
    transition-property: background-color, box-shadow;
    cursor: pointer;
    border: 1px solid $color-blue3;
  }

  input[type="checkbox"].switch:checked + div {
    width: 37px;
    background-color: $color-white;
  }

  input[type="checkbox"].switch + div {
    width: 37px;
    height: 20px;
  }

  input[type="checkbox"].switch + div > div {
    float: left;
    width: 15px;
    height: 15px;
    border-radius: inherit;
    background: $color-blue6;
    border: 1px solid $color-white;
    -webkit-transition-timing-function: cubic-bezier(1, 0, 0, 1);
    transition-timing-function: cubic-bezier(1, 0, 0, 1);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-property: transform, background-color;
    transition-property: transform, background-color;
    pointer-events: none;
    margin-top: 1px;
    margin-left: 2px;
  }

  input[type="checkbox"].switch:checked + div > div {
    -webkit-transform: translate3d(20px, 0, 0);
    transform: translate3d(20px, 0, 0);
    background: $color-blue6;
    border: 1px solid $color-white;
  }


  input[type="checkbox"].switch:checked + div > div {
    -webkit-transform: translate3d(16px, 0, 0);
    transform: translate3d(16px, 0, 0);
  }
}
