@import 'imports/index';

@font-face {
  font-family: 'Helvetica Neue Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica Neue Medium'), url('../assets/fonts/HelveticaNeueMedium.woff') format('woff');
}

html, body {
  font-family: 'Helvetica Neue Medium', serif;
}

svg {
  margin-right: 8px;
}

.selected {
  border-bottom: 2px solid $color-primary;
}

.cursor-pointer {
  cursor: pointer;
}

// color
.text-primary {
  color: $color-primary;
}

.text-secondary {
  color: $color-secondary;
}

.text-light2 {
  color: $color-light2;
}

.text-dark1 {
  color: $color-dark1;
}

.text-blue5 {
  color: $color-blue5;
}

.text-blue6 {
  color: $color-blue6;
}

// spacing

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center-x {
  display: flex;
  justify-content: center;
}

.flex-center-y {
  display: flex;
  align-items: center;
}

.p-0-20 {
  padding: 0 20px;
}

.p-0-25 {
  padding: 0 25px;
}

.p-0-30 {
  padding: 0 30px;
}

.p-0-45 {
  padding: 0 45px;
}

.p-10-0 {
  padding: 10px 0;
}

.container {
  padding: 35px 0 60px;
  max-width: 1120px;
}

////
// button
.button-primary {
  align-items: center;
  background: $grad-button;
  border-radius: 4px;
  color: $color-white;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  height: 100%;
  justify-content: center;
  width: 100%;
}

// card
.card {
  background: #fff;
  border-radius: 6px;
  border: $border-gray1;

  &__header {
    align-items: center;
    border-bottom: $border-gray1;
    display: flex;
    font-weight: bold;
    height: 45px;
    padding: 0 20px;

    .title {
      color: $color-primary;
      font-weight: bold;
      margin-right: 20px;
    }

    .subtitle {
      color: $color-secondary;
      font-size: 10px;
    }
  }

  &__body {
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 11px;
    }

    &::-webkit-scrollbar-track {
      background: $color-white;
      border-left: $border-gray1;
      border-right: $border-gray1;
    }

    &::-webkit-scrollbar-thumb {
      background-clip: content-box;
      background-color: $color-secondary;
      border: 2px   solid transparent;
      border-radius: 100px;
    }
  }

  &__footer {
    border-top: $border-gray1;
    display: flex;
    height: 42px;
    padding: 0 25px;

    .status {
      align-items: center;
      color: $color-dark1;
      display: flex;
      font-size: 10px;
      opacity: .4;

      &__count {
        border: $border-gray2;
        border-radius: 4px;
        margin-right: 25px;
        padding: 2px 5px;
        width: 40px;

        &:focus {
          outline: none;
        }
      }

      &__info {

      }
    }
  }
}

//
//.text-lightblue {
//  color: $color-blue3;
//}
//
//.opacity-1 {
//  opacity: 1;
//}
//
//.opacity-26 {
//  opacity: .26;
//}
//
//.card {
//    svg {
//      position: absolute;
//      right: 16px;
//      top: 50%;
//      transform: translate(0, -50%);
//    }
//  }

