@import 'imports/index';

@font-face {
  font-family: 'Helvetica Neue Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica Neue Medium'), url('../assets/fonts/HelveticaNeue.ttc') format('woff');
}

// typography
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1 {

}

h2 {

}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
}

// font
.fs-22 {
  font-size: 22px;
}

.fs-18 {
  font-size: 18px;
}

.fs-14 {
  font-size: 14px;
}
