@import '../../styles/imports/variables';
@import '../../styles/typography';

#transactionItem {
  background: $color-white;
  border-bottom: $border-gray;
  display: flex;
  min-height: 145px;
  padding: 37px 18px 32px;

  &:hover {
    box-shadow: $box-shadow-hover;
  }

  .title {
    color: $color-dark1;
    opacity: .26;
  }

  .content {
    margin: 0;
  }

  .column {
    font-size: 14px;
  }

  .column1 {
    color: $color-blue3;
    width: 27%;

    span {
      opacity: .4;
    }

    .content {
      svg {
        margin-right: 12px;
      }
    }
  }

  .column2 {
    color: $color-dark2;
    width: 12%;
  }

  .column3 {
    color: $color-blue3;
    width: 17%;

    .content {
      svg {
        margin-left: 10px;
      }
    }
  }

  .column4 {
    color: $color-blue3;
    width: 20%;
  }

  .column5 {
    color: $color-dark2;
    width: 10%;
  }

  .column6 {
    width: 14%;

    .content {
      svg {
        margin-right: 10px;
      }
    }
  }

}
