@import '../../styles/imports/variables';
@import '../../styles/typography';

#transactionDetails {
  .card {
    .body {
      span {
        margin-right: 10px;
      }

      .row {
        border-bottom: $border-gray1;
        color: $color-blue5;
        display: flex;
        font-size: 14px;
        margin: 0;
        min-height: 70px;
        padding: 0 30px;
        width: 100%;
      }

      .title {
        color: $color-dark1;
        margin: auto;
        width: 20%;
        opacity: .26;
      }

      .opacity-1 {
        opacity: 1;
      }

      .opacity-26 {
        opacity: .26;
      }

      .content {
        margin: auto;
        width: 80%;
      }

      .row1 {
        color: $color-black;
      }

      .row2 {
        color: $color-dark2;

        .content {
          svg {
            margin-right: 12px;
          }
        }
      }

      .row3 {
        color: $color-dark2;
      }

      .row4 {
        color: $color-blue5;
      }

      .row5 {
        color: $color-blue5;
      }

      .row6 {
        color: $color-dark2;

        .content {
          svg {
            margin-right: 12px;
          }
        }
      }

      .row7 {
        color: $color-dark2;

        .content {
          svg {
            margin-right: 12px;
          }
        }
      }

      .row8 {
        color: $color-dark2;

        .content {
          svg {
            margin-right: 12px;
          }
        }
      }

      .row9 {
        color: $color-dark2;
      }

    }
  }
}
