@import '../../styles/imports/variables';
@import '../../styles/typography';

#qrcode {
  .qrcode {
    display: flex;
    justify-content: center;

    img {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
}
