@import "../../styles/imports/index";

#header {
  background-color: $color-white;
  border-bottom: $border-gray1;
  height: 71px;



  .navbar {
    a {
      align-items: center;
      display: flex;
      height: 100%;
      text-decoration: none;
    }
  }

  .setting {
    .setting__item {
      border-right: $border-gray1;
    }
    
    a {
      line-height: 4;
      height: 100%;
      padding: 0 25px;
      border-right: $border-gray1;

      &:first-of-type {
        border-left: $border-gray1;
      }
    }

    #badge {
      position: absolute;
      top: 10px;
    }
  }
}
