@import '../../styles/imports/variables';
@import '../../styles/typography';

#overview {
  .searchBar {
    background: $grad-searchBar;
    border: $border-gray;
    border-radius: 6px;
    margin-bottom: 85px;
    padding: 27px 45px 40px;

    .header {
      position: relative;

      .title {
        color: $color-white;
        margin-bottom: 10px;
      }

      svg {
        position: absolute;
        right: 13px;
        top: 50%;
        transform: translate(0, -50%);
      }
    }

    .search {
      position: relative;

      a {
        background-color: $color-blue3;
        border-bottom-right-radius: 100px;
        border-top-right-radius: 100px;
        height: 100%;
        position: absolute;
        right: 0;
        text-align: center;
        min-width: 164px;

        .search__btn {
          color: $color-white;
          line-height: 2.8;
        }

        &:hover {
          text-decoration: none;
        }
      }

      svg {
        left: 16px;
        position: absolute;
        top: 12px;
      }

      input {
        background-color: $color-white;
        border: $border-gray;
        border-radius: 100px;
        color: $color-dark2;
        height: 45px;
        padding-left: 50px;
        width: 100%;

        &::placeholder {
          color: $color-light2;
          font-size: 12px;
        }
      }
    }
  }
}
