$color-white: #fff;
$color-lighter: #EEEFF7;
$color-light: #A7A9C0;
$color-lightgray: #8B8C99;
$color-gray: #33343D;
$color-darkblue: #25233A;
$color-blue: #01058A;
$color-lightblue: #1AA8E9;
$color-black: #000;

$grad-searchBar: radial-gradient(552.77px at 49.19% 51.45%, #0054C7 0%, #01048A 100%);

$border-gray: 1px solid #E7E8F2;
$border-gray2: 1px solid #E0E1E9;

$box-shadow-hover: 0 5px 12px rgba(0, 0, 0, 0.1);
