@import '../../styles/variables';
@import '../../styles/font';

#overview {
  .searchBar {
    background: $grad-searchBar;
    border: $border-gray;
    border-radius: 6px;
    margin-bottom: 85px;
    padding: 27px 45px 40px;

    .header {
      position: relative;

      .title {
        color: $color-white;
        margin-bottom: 10px;
      }

      svg {
        position: absolute;
        right: 13px;
        top: 50%;
        transform: translate(0, -50%);
      }
    }

    .search {
      position: relative;

      a {
        background-color: $color-lightblue;
        border-bottom-right-radius: 100px;
        border-top-right-radius: 100px;
        height: 100%;
        position: absolute;
        right: 0;
        text-align: center;
        min-width: 164px;

        .search__btn {
          color: $color-white;
          line-height: 2.8;
        }

        &:hover {
          text-decoration: none;
        }
      }

      svg {
        left: 16px;
        position: absolute;
        top: 12px;
      }

      input {
        background-color: $color-white;
        border: $border-gray;
        border-radius: 100px;
        color: $color-gray;
        height: 45px;
        padding-left: 50px;
        width: 100%;

        &::placeholder {
          color: $color-light;
          font-size: 12px;
        }
      }
    }
  }

  .card {
    background: #fff;
    border-radius: 6px;
    border: $border-gray;

    .header {
      align-items: baseline;
      border-bottom: $border-gray;
      display: flex;
      min-height: 45px;
      position: relative;

      .title {
        color: $color-blue;
        padding: 14px 20px;
      }

      .subtitle {
        color: $color-light;
        font-size: 10px;
      }

      svg {
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translate(0, -50%);
      }
    }
  }

  .footer {
    min-height: 41px;
    display: flex;

    .status {
      color: $color-darkblue;
      font-size: 10px;
      margin: auto 0;
      opacity: .4;
      input {
        border: $border-gray2;
        border-radius: 4px;
        box-shadow: none;
        margin: 0 10px 0 25px;

        width: 40px;
      }
    }
  }
}
